body {
    display: grid;
    place-content: center;
    min-height: 50vh;
}
.box{
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.box:hover .barra{
    opacity: 1;
}

.barra{
    width: 50px;
    height: 50px;
    background-color: #09f;
    border-radius: 50%;
    position: relative;
    transition-duration: 2s;
    transition-timing-function: ease;
    opacity: 0;
}
.barra:first-child{
    transition-delay:0ms ;
}
.barra:nth-child(2){
    transition-delay: 300ms;
}
.barra:nth-child(3){
    transition-delay: 600ms;
}