body {
    margin:0;
    font-family:sans-serif;
    background-color:#111010;
}
div, body{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    width: auto;
    height: auto;
}
.contenedor{
    max-width: 100%;
    aspect-ratio: 16/9;
}
video{
    max-width: 100%;
}