body {
    margin:0;
    font-family:sans-serif;
    background-color:#ccc;
}
div, body{
    box-sizing: border-box;
}

.container{
    /*Esto nos permite modificar un contenedor por su tamaño*/
    container-type: inline-size;
    container-name: main;
}
p{
    font-size: 8px;
}
@container main (max-width:600px){
    p{
        font-size:20px;
        color:red;
        background-color: #000;
    }
}