@font-face{
    font-family: "Montez";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
}
*{
    box-sizing: border-box;
    font-family: "Montez";
}
:root{
    --color-principal:#F4CE14;
    --color-secundario:#CF4647;
    --color-fondo:#F5F7F8;
    --color-barras:#45474B;
    --fuente-navbar:clamp(1.6rem,4vw,4rem);
}

.grid{
    flex-grow: 1;
    display: grid;
    grid-template-columns: minmax(200px,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-auto-flow: dense;
    margin: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

div,ul,nav,header,footer,a,li,ul,label{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--color-fondo);
    color: var(--color-barras);
    display: flex;
    margin: 0;
}
.header{
    grid-area: header;
    background-color: var(--color-barras);
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name:header ;
    position: relative;
    z-index: 10;
}
.header__open-nav-button{
    color: var(--color-principal);
    position: absolute;
    font-size: 32px !important;
    font-weight: 0.1rem !important;
    right: 19px;
}

.header__checkbox{
    display: none;
}
.header__nav{
    display: none;
    background-color:var(--color-barras);
    position: absolute;
    height: 50vh;
    width: 100vw;
    top:0;
    z-index: -1;
}
.header__nav-list{
    display: flex;
    flex-direction: column;
    height: 35vh;
    margin: auto;
    align-items: center;
    justify-items: center;
    justify-content:space-around ;
    padding: 0;
    margin-bottom: 40px;
}
.header__checkbox:checked ~ .header__nav{
    display: flex;
}
.header__logo{
    max-width: 100%;
    width: 80px;
    height: 60px;
    margin: 10px 20px;
}
.header__nav-item{
    list-style: none;
}
.header__nav-item a{
    color:var(--color-principal);
    font-size: var(--fuente-navbar);
    font-weight:bold;
}
.header__nav-item a:not(:is(:hover,:active)){
    text-decoration: none;
}

@container header (min-width:720px){
    .header__nav{
        margin: 0;
        display: block;
        position: static;
        height: auto;
        width: auto;
        justify-content: space-between;
    }
    .header__nav-list{
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 20px;
        margin: auto;
        margin-right: 40px;
    }
    .header__open-nav-button{
        display: none !important;
    }
    .header__nav-list{
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: (1,1fr);
        grid-auto-flow: dense;
        width: 600px;
        gap: 30px;
        align-items: center;
        justify-items: center;
    }
    .header__nav-item  a{
        font-size: 1.2rem;
    }
    
}


/* ************************************/
/*                                    */
/*          Main  Animation           */
/*                                    */
/* ************************************/

main{
    grid-area: main;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    background-color: #000;
}


/* ************************************/
/*                                    */
/*        Animation Step 1            */
/*                                    */
/* ************************************/
.main > div >h2{
    margin: 0;
}
.animation{
    width: 100%;
    height: 80vh;
    text-align: center;
    animation:reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}
.animation__step-1{
    background-color: #000;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 15%;
}
.main > .animation__step-1 > div > div >div>img{
    width: 100px;
    height: 100px;
}
.main > .animation__step-1 > div > div >div{
    background-color: var(--color-principal);
    border-radius: 50%;
    padding:15px ;
    outline:5px solid var(--color-secundario);

}

.animation__title{
    z-index: 10;
    color: var(--color-principal);
    font-size: 3rem;
    font-weight: bold;
    filter: drop-shadow(0px 0px 9px rgba(255, 255, 0, 0.767))drop-shadow(0px 0px 20px rgba(255, 255, 0, 0.671));
    animation:caer linear both;
}

.animation__icons{
    z-index: 10;
    color: var(--color-secundario);
    display: flex;
    flex-flow: row nowrap;
    gap: 70px;
}
.animation__icons >div>h3{
    filter: drop-shadow(0px 0px 9px rgba(255, 0, 0, 0.856))drop-shadow(0px 0px 10px rgba(255, 0, 0, 0.795));
}

.animation__step-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
    filter: drop-shadow(0px 0px 5px #ffffffe7) drop-shadow(0px 0px 6px #ffffffd3)drop-shadow(0px 0px 7px #ffffffa1) ;
    animation: moveStars 50s linear infinite;
}

@keyframes moveStars {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-25%);
    }
}

/* ************************************/
/*                                    */
/*        Animation Step 2            */
/*                                    */
/* ************************************/
.animation:nth-child(2){
    background-color:#000;
    grid-template-areas:
    "title"
    "corona";
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    z-index: 20;

}
.animation__step-2::before {
    z-index: -2;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
    filter: drop-shadow(0px 0px 5px #ffffffe7) drop-shadow(0px 0px 6px #ffffffd3)drop-shadow(0px 0px 7px #ffffffa1) ;
    animation: moveStars 50s linear infinite;
}
.main>.animation:nth-child(2)>h2{
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main > .animation:nth-child(2) > div{
    grid-area: corona;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.main > .animation:nth-child(2) > div>.principal{
    grid-area: corona;
    filter: drop-shadow(0px 0px 1px #ebe2e2e5)drop-shadow(0px 0px 2px #ebe6e6c2)drop-shadow(0px 0px 3px #ffffffa1)drop-shadow(0px 0px 4px #ffffffa1);
    width: 180px;
    height: 180px;
    position: relative;
}
.main > .animation:nth-child(2) > div>.rotate{
    width: 90px;
    height: 90px;
    position: absolute;
    opacity: 0;
    
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translateX(230px) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg) translateX(230px) rotate(-360deg);
        opacity: 1;
    }
}
.rotate_1{
    animation: rotate 10s linear infinite;
    animation-delay: 0s;
}
.rotate_2{
    animation: rotate 10s linear infinite;
    animation-delay: 1s;
}
.rotate_3{
    animation: rotate 10s linear infinite;
    animation-delay: 2s;
}
.rotate_4{
    animation: rotate 10s linear infinite;
    animation-delay: 3s;
}
.rotate_5{
    animation: rotate 10s linear infinite;
    animation-delay: 4s;
}
.rotate_6{
    animation: rotate 10s linear infinite;
    animation-delay: 5s;
}
.rotate_7{
    animation: rotate 10s linear infinite;
    animation-delay: 6s;
}
.rotate_8{
    animation: rotate 10s linear infinite;
    animation-delay: 7s;
}
.rotate_9{
    animation: rotate 10s linear infinite;
    animation-delay: 8s;
}
.rotate_10{
    animation: rotate 10s linear infinite;
    animation-delay: 9s;
}

.animation:nth-child(3){
    background-color: #d9e623;
}
.animation:nth-child(4){
    background-color: #4c16e0;

}
.animation:nth-child(5){
    background-color: #25e00c;
}

@keyframes reveal {
    from{
        opacity: 0;
        translate: 0 100px;
        scale: .5;
    }
    to{
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}

/* ************************************/
/*                                    */
/*             footer                 */
/*                                    */
/* ************************************/

footer{
    grid-area: footer;
    background-color: var(--color-barras);
}