body{
    margin: 0;
    font-family: sans-serif;
    background-color: #bbb;
}
.box{
    width: 240px;
    height: 270px;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    border:1px solid #0006;
    white-space:normal;
    overflow-wrap: anywhere;
    text-wrap: pretty; /*Sirve para balancear los parrafos*/
}
h1{
    text-wrap: balance;/*sirve para balancear los titulos*/
}
