body{

    .grid__container{
        display: grid;
        grid-template-columns:repeat(4,minmax(min-content,max-content)) ;
        grid-template-rows: 50px;
        grid-auto-columns: 50px;
        .grid-item{
            padding: 10px;
            border: 2px solid #26a;
            font-weight: bold;
            margin: 3px ;
            background-color: #fff;
        }
    }
    .btn-confirmar{
        padding: 9px 40px;
        background-color: #48e;
        color: #fff;
        border: none;
        margin: 30px;
    }
}
