*{
    box-sizing: border-box;
}
@font-face{
    font-family: "Montez";
    src: url("../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
}

body{
    font-family: "Montez";
    --bg-color:#ffb18c;
    --text-color:#333;
    --faq-color:#fff;
    --dark-color:rgb(255,138,77);
}
body,div,ul,li,a,h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--bg-color);
}
.faq{
    max-width: clamp(300px,100%,700px);
    margin: auto;
}
details{
    background-color: var(--faq-color);
    margin: 7px;
    padding: 7px;
    max-height: 34px;
    transition: max-height 2s;
    overflow: hidden;
}
details[open]{
    max-height: 400px;
}
details[open] .content{
    animation: aparecer .5s .3s both;
}
summary{
    user-select: none;
}
.content{
    padding: 5px 10px;
    margin: 10px;
    margin-bottom: 0;
    font-size: .8rem;
    color: var(--text-color);
}
summary{
    user-select:none;
    position: relative;
}
summary::marker{
    content: "";
}
summary::before{
    content: "+";
    position: absolute;
    right: 0;
    color:#ffb18c ;
    font-weight: 900;
}
details[open] summary::before{
    content: "-";
}
details b{
    background-color: var(--dark-color);
    padding: 2px 4px;
    color: #fff;
    margin-right: 4px;
}

@keyframes aparecer {
    from{
        opacity: 0;
        translate: 0 -20px;
        border-top: 1px solid transparent;
    }
    50%{
        border-top: 1px solid transparent;
    }
    to{
        opacity: 1;
        translate: 0 0;
        border-top: 1px solid var(--bg-color);
    }
}

@media screen and (min-width:600px){
    .faq{
        max-width: clamp(300px,70%,700px);
    }
}