body {
    margin:0;
    font-family:sans-serif;
    background-color:#ccc;
}
div{
    box-sizing: border-box;
}
.box{
    background-color: #fff;
    margin: 20px;
    border: 4px solid #48e;
    padding: 6px;
    border-radius: 39px;
    transition: border .6s steps(12);
}
.barra{
    padding: 40px;
    background-color: #48e;
    border-radius: 30px;
    width: 10%;
    transition: width .6s steps(12),background-color .6s steps(12);
}
.barra:active{
    width: 100%;
    transition-duration: 3s;
    background-color: #f33;
}
.box:has(.barra:active){
    border:4px solid #f33
}
.box:has(.barra:active){
    border:4px solid #f33;
    transition-duration: 3s;
}