body{
    margin: 0;
}
.box{
    width: 100px;
    height: 100px;
    background: red;
    margin: 10px;
}
.box_def{
    padding: 25px;
    border: 10px solid black;
}
.box_new{
    box-sizing: border-box;
    padding: 25px;
    border: 10px solid black;
}
