body {
    margin:0;
    font-family:sans-serif;
    background-color:#ccc;
}
*{
    box-sizing: border-box;
}
.crecedor{
    height: 100vh;
}
.box{
    view-timeline: --cajita block;
    background-color: #48e;
    padding: 20px;
    animation:llenar-barra;
    animation-timeline: --cajita;
    animation-timing-function: linear;
}
.container{

}
@keyframes llenar-barra{
    from{
        width: 0%;
    }
    to{
        width: 100%;
        background-color: #f33;
    }
}