.prueba_1{
    background: red;
    width: 150px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

.prueba_1{
    border: 5px solid black;   
    border-top-left-radius:20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 10px;
}
.prueba_2{
    background: red;
    width: 150px;
    margin: auto;
    text-align: center;
}
.prueba_2{
    border:5px solid blue;
    border-radius: 10px 50px;
}
.separador{
    overflow: hidden;
}
body{
    background-color:yellow ;
}
input{
    margin: 5px;
    padding: 6px 9px;
    border: none;
    border-bottom: 1px solid white;
    background:transparent;
    color: green;
    border-radius: 5px;
}