div{
    background: red;
    width: 400px;/*ancho*/
    height: 200px;/*altura*/
}
h2{
    background: blue;
    width: 400px;
    height: 50px;
    text-align: center;
}
input{
    width: 90%;
    box-sizing: border-box;
}
form{
    width: 400px;
}