body {
    margin:0;
    font-family:sans-serif;
    height: 100vh;
    display: flex;
}
.box{
    margin: auto;
    padding: 20px 50px;
    width: fit-content;
}
.box-1{
    background-color: red;
    rotate: 0deg;
    transition: rotate 6s;
}
.box-2{
    background-color: black;
    transform: skew(0);
    transition: transform .6s;
}
.box-2:hover{
    transform: skew(10deg);
}
.box-1:hover{
    rotate: 360deg;
    transform: translate(0px,-200px);
}
