@font-face{
    font-family: "Montez";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
}
*{
    box-sizing: border-box;
    font-family: "Montez";
}
:root{
    --color-principal:#F4CE14;
    --color-secundario:#CF4647;
    --color-fondo:#F5F7F8;
    --color-barras:#45474B;
    --fuente-navbar:clamp(1.6rem,4vw,4rem);
}

.grid{
    flex-grow: 1;
    display: grid;
    grid-template-columns:1fr; 
    grid-template-rows:1fr;
    grid-auto-flow: dense;
    margin: auto;
    grid-template-areas:
    "main"
    "aside"
    "footer";
    max-width: 1400px;
    margin: auto;
}

div,ul,nav,header,footer,a,li,ul,label{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
.header{
    background-color: var(--color-barras);
    width: 100%;
    background-color: var(--color-barras);
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name:header ;
    position: relative;
    z-index: 10;
}
.header__open-nav-button{
    color: var(--color-principal);
    position: absolute;
    font-size: 32px !important;
    font-weight: 0.1rem !important;
    right: 19px;
}

.header__checkbox{
    display: none;
}
.header__nav{
    display: none;
    background-color:var(--color-barras);
    position: absolute;
    height: 50vh;
    width: 100vw;
    top:0;
    z-index: -1;
}
.header__nav-list{
    display: flex;
    flex-direction: column;
    height: 35vh;
    margin: auto;
    align-items: center;
    justify-items: center;
    justify-content:space-around ;
    padding: 0;
    margin-bottom: 40px;
}
.header__checkbox:checked ~ .header__nav{
    display: flex;
}
.header__logo{
    max-width: 100%;
    width: 80px;
    height: 60px;
    margin: 10px 20px;
}
.header__nav-item{
    list-style: none;
}
.header__nav-item a{
    color:var(--color-principal);
    font-size: var(--fuente-navbar);
    font-weight:bold;
}
.header__nav-item a:not(:is(:hover,:active)){
    text-decoration: none;
}

@container header (min-width:600px){
    .header__nav{
        margin: 0;
        display: block;
        position: static;
        height: auto;
        width: auto;
        justify-content: space-between;
    }
    .header__nav-list{
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 20px;
        margin: auto;
        margin-right: 40px;
    }
    .header__open-nav-button{
        display: none !important;
    }
    .header__nav-list{
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: (1,1fr);
        grid-auto-flow: dense;
        width: 600px;
        gap: 30px;
        align-items: center;
        justify-items: center;
    }
    .header__nav-item  a{
        font-size: 1.2rem;
    }
    
}

/* ************************************/
/*                                    */
/*              Main                 */
/*                                    */
/* ************************************/

main{
    grid-area: main;
    height: 40vh;
    width: 100%;
    overflow-y:scroll;
    scrollbar-width: none;
}
.section__locales{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    background-color: var(--color-principal);
}
h2{
    font-size: 20px;
}
p{
    padding: 0px 10px;
}

.section__locales-title{
    text-align: center;
    top: 0;
    background-color: var(--color-fondo);
    margin: 15px 100px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 20px;
}
.section__locales-local{
    font-size: 15px;
    text-align: center;
    padding: 3px 10px;
    margin: 10px;
    position: relative;
    font-weight: bold;
}

.local__front,.local__back{
    backface-visibility: hidden;
    transition: transform 1s linear ;
    overflow: hidden;
    background-color: var(--color-barras);
    color: var(--color-fondo);
    border-radius: 90px;
    border: 4px solid var(--color-secundario);

}
.local__back{
    background-color: var(--color-secundario);
    color: var(--color-principal);
    border-radius: 90px;
    border: 6px solid var(--color-fondo);

}
.section__locales-local:hover .local__front{
    transform: perspective(1200px) rotatex(180deg);
}
.section__locales-local:hover .local__back{
    transform: perspective(1200px) rotatex(360deg);
}
.local__front{
    transform: perspective(1200px) rotatex(0deg);
}
.local__back{
    position: absolute;
    transform: perspective(1200px) rotatex(180deg);
    top: 0;
}
/* ************************************/
/*                                    */
/*              Aside                 */
/*                                    */
/* ************************************/


aside{
    grid-area: aside;
    height: 40vh;
    background-color: #45474B;
}
iframe{
    width: 100%;
    height: 39vh;
}
/* ************************************/
/*                                    */
/*              Footer                */
/*                                    */
/* ************************************/

footer{
    grid-area: footer;
    height: 20vh;
    background-color: #45474B;
}