@font-face{
    font-family: "Mont";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
}
*{
    box-sizing: border-box;
}
:root{
    --color-principal:#F4CE14;
    --color-secundario:#CF4647;
    --color-fondo:#F5F7F8;
    --color-barras:#45474B;
    --fuente-navbar:clamp(1.6rem,4vw,4rem);
}

.grid{
    flex-grow: 1;
    display: grid;
    grid-template-columns: minmax(200px,1fr);
    grid-template-rows: 1fr;
    grid-auto-flow: dense;
    margin: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

div,ul,nav,header,footer,a,li,ul,label{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--color-fondo);
    color: var(--color-barras);
    display: flex;
    margin: 0;
}
.header{
    grid-area: header;
    font-family:"Mont";
    background-color: var(--color-barras);
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name:header ;
    position: relative;
    z-index: 10;
}
.header__open-nav-button{
    color: var(--color-principal);
    position: absolute;
    font-size: 32px !important;
    font-weight: 0.1rem !important;
    right: 19px;
}

.header__checkbox{
    display: none;
}
.header__nav{
    display: none;
    background-color:var(--color-barras);
    position: absolute;
    height: 50vh;
    width: 100vw;
    top:0;
    z-index: -1;
}
.header__nav-list{
    display: flex;
    flex-direction: column;
    height: 35vh;
    margin: auto;
    align-items: center;
    justify-items: center;
    justify-content:space-around ;
    padding: 0;
    margin-bottom: 40px;
}
.header__checkbox:checked ~ .header__nav{
    display: flex;
}
.header__logo{
    max-width: 100%;
    width: 80px;
    height: 60px;
    margin: 10px 20px;
}
.header__nav-item{
    list-style: none;
}
.header__nav-item a{
    color:var(--color-principal);
    font-size: var(--fuente-navbar);
    font-weight:bold;
}
.header__nav-item a:not(:is(:hover,:active)){
    text-decoration: none;
}

@container header (min-width:600px){
    .header__nav{
        margin: 0;
        display: block;
        position: static;
        height: auto;
        width: auto;
        justify-content: space-between;
    }
    .header__nav-list{
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 20px;
        margin: auto;
        margin-right: 40px;
    }
    .header__open-nav-button{
        display: none !important;
    }
    .header__nav-list{
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: (1,1fr);
        grid-auto-flow: dense;
        width: 600px;
        gap: 30px;
        align-items: center;
        justify-items: center;
    }
    .header__nav-item  a{
        font-size: 1.2rem;
    }
    
}

/* ************************************/
/*                                    */
/*          Main  Form                */
/*                                    */
/* ************************************/

.main{
    grid-area: main;
    margin: 0;
    font-family:"Montez";
    background-color: #1f1e1e;
    color: var(--color-fondo);
    background:var(--color-fondo);
    align-content: center;
}

h2{
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 22px;
    padding: 10px;
}
form{
    background-color: var(--color-barras);
    padding:20px 0;
    max-width: 500px;
    margin:auto;
    box-shadow: 0px 0px 45px rgba(248, 246, 246, 0.6);
    margin-top: 10px;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 40px;
    font-family: inherit;
    position: relative;
}
.form_input{
    padding: 6px 20px;
}
.ingreso,textarea,select{
    min-width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border: none;
    border: 2px solid var(--color-principal);
    box-shadow: 0px 0px 15px rgba(182, 179, 179, 0.067);
    background-color: transparent;
    border-radius: 4px;
    color: var(--color-fondo);
    resize: vertical;
}


option{
    background-color: var(--color-barras);
    margin: 10px;
}
textarea{
    min-width: 100%;
    resize: none;
    max-height: 200px;
    font-family: sans-serif;
}
label{
    font-size: 0.88em;
    line-height: 2;

}

.mirror{
    margin: auto;
    text-align: center;
}
.boton{
    width: auto;
    height: 10px;
}
fieldset{
    border-radius: 5px;
    border: 2px solid var(--color-principal);
    padding: 8px 6px 20px 6px;
    margin: 20px;
}
legend{
    padding: 0 6px;
}
span{
    font-size: 19px !important;
    position: relative;
    top:3px;
    color: var(--color-principal);
}


input[type="checkbox"]{
    display: none;
}

.hambuguesa:checked~.terms{
    color: var(--color-secundario);
    background-color: var(--color-principal);
    border: 2px solid var(--color-secundario);
}
.boton__terms-open{
    padding: 20px;
    padding-left: 22vw;
    cursor:pointer;

}
.boton__terms-close{
    z-index: 10;
    position: sticky;
    transform: translate(-9%,-1773%);
    border: 5px groove var(--color-secundario);
    background-color: var(--color-barras);
}
.terms{
    color: var(--color-principal);
    margin-left: 45vw;
    border: 2px solid var(--color-principal);
    border-radius: 50%;
    padding: 4px;
}

.form__modal{
    display: none;
    position: absolute;
    background-color: var(--color-barras);
    color: var(--color-fondo);
    border:5px groove var(--color-secundario);
    width: 80%;
    height: 80%;
    top: 20px;
    left: 40px;
    overflow: scroll;
}
.form__modal-content{
    padding: 10px;
}
.check_terms:checked ~ div{
    display: block;
}
.check_terms:not(:checked) ~ .boton__terms-close{
    display: none;
}
.check_terms:has(.check_terms:not(:checked)) ~ .form__modal{
    display: none;
}