@import url(global.css);
.grid{
    flex-grow: 1;
    display: grid;
    grid-template-columns: minmax(200px,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-auto-flow: dense;
    margin: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

/* ************************************/
/*                                    */
/*          Main  Form                */
/*                                    */
/* ************************************/

.main{
    grid-area: main;
    margin: 0;
    font-family:"Montez";
    background-color: #1f1e1e;
    color: var(--color-fondo);
    background:var(--color-fondo);
    align-content: center;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

h2{
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 22px;
    padding: 10px;
}
form{
    border: 2px solid var(--color-principal);
    background-color: var(--color-barras);
    padding:20px 0;
    max-width: 500px;
    margin:auto;
    box-shadow: 0px 0px 45px rgba(248, 246, 246, 0.6);
    margin-top: 10px;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 15px;
    font-family: inherit;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
}
.form_input{
    padding: 6px 20px;
}
.ingreso,textarea,select{
    min-width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border: none;
    border: 2px solid var(--color-principal);
    box-shadow: 0px 0px 15px rgba(182, 179, 179, 0.067);
    background-color: transparent;
    border-radius: 4px;
    color: var(--color-fondo);
    resize: vertical;
}


option{
    background-color: var(--color-barras);
    margin: 10px;
}
textarea{
    min-width: 100%;
    resize: none;
    max-height: 200px;
    font-family: sans-serif;
}
label{
    font-size: 0.88em;
    line-height: 2;

}

.mirror{
    margin: auto;
    text-align: center;
}
.boton{
    width: auto;
    height: 10px;
}
fieldset{
    border-radius: 5px;
    border: 2px solid var(--color-principal);
    padding: 8px 6px 20px 6px;
    margin: 20px;
}
legend{
    padding: 0 6px;
}
span{
    font-size: 19px !important;
    position: relative;
    top:3px;
    color: var(--color-principal);
}


input[type="checkbox"]{
    display: none;
}

.hambuguesa:checked~.terms{
    color: var(--color-secundario);
    background-color: var(--color-principal);
    border: 2px solid var(--color-secundario);
}
.boton__terms-open{
    position: absolute;
    top: 83%;
    left: 24%;
    cursor:pointer;

}
.boton__terms-close{
    z-index: 10;
    position: absolute;
    top:0;
    left:83%;
    border: 5px groove var(--color-secundario);
    background-color: var(--color-barras);
}
.terms{
    color: var(--color-principal);
    margin-left: 46%;
    border: 2px solid var(--color-principal);
    border-radius: 50%;
    padding: 4px;
}

.form__modal{
    display: none;
    position: absolute;
    background-color: var(--color-barras);
    color: var(--color-fondo);
    border:5px groove var(--color-secundario);
    width: 80%;
    height: 80%;
    top:0;
    left:10%;
    overflow: scroll;
}
.form__modal-content{
    padding: 10px;
}
.check_terms:checked ~ div{
    display: block;
}
.check_terms:not(:checked) ~ .boton__terms-close{
    display: none;
}
.check_terms:has(.check_terms:not(:checked)) ~ .form__modal{
    display: none;
}
@media screen and (min-width:768px) {
    .boton__terms-close{
        left:83%;
    }
}

