
@font-face{
    font-family: "Montez";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
}
*{
    box-sizing: border-box;
}
:root{
    --color-principal:#F4CE14;
    --color-secundario:#CF4647;
    --color-fondo:#F5F7F8;
    --color-barras:#45474B;
    --fuente-navbar:clamp(1.6rem,4vw,4rem);
    --fuente-texto:"Montez";
}

.grid{
    flex-grow: 1;
    display: grid;
    grid-template-columns: minmax(200px,1fr);
    grid-template-rows: 1fr;
    grid-auto-flow: dense;
    margin: auto;
    grid-template-areas: 
    "header"
    "aside""main"
    "footer";
}

div,ul,nav,header,footer,a,li,ul,label,p,h2,img{
    margin: 0 ;
    padding: 0 ;
}
body{
    background-color: var(--color-fondo);
    color: var(--color-barras);
    display: flex;
    margin: 0;
}
/* ************************************/
/*                                    */
/*              Header                */
/*                                    */
/* ************************************/
.header{
    font-family: var(--fuente-texto);
    grid-area: header;
    background-color: var(--color-barras);
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name:header ;
    position: relative;
    z-index: 10;
}
.header__open-nav-button{
    color: var(--color-principal);
    position: absolute;
    font-size: 32px !important;
    font-weight: 0.1rem !important;
    right: 19px;
}

.header__checkbox{
    display: none;
}
.header__nav{
    display: none;
    background-color:var(--color-barras);
    position: absolute;
    height: 50vh;
    width: 100vw;
    top:0;
    z-index: -1;
}
.header__nav-list{
    display: flex;
    flex-direction: column;
    height: 35vh;
    margin: auto;
    align-items: center;
    justify-items: center;
    justify-content:space-around ;
    padding: 0;
    margin-bottom: 40px;
}
.header__checkbox:checked ~ .header__nav{
    display: flex;
}
.header__logo{
    max-width: 100%;
    width: 80px;
    height: 60px;
    margin: 10px 20px;
}
.header__nav-item{
    list-style: none;
}
.header__nav-item a{
    color:var(--color-principal);
    font-size: var(--fuente-navbar);
    font-weight:bold;
}
.header__nav-item a:not(:is(:hover,:active)){
    text-decoration: none;
}

@container header (min-width:720px){
    .header__nav{
        margin: 0;
        display: block;
        position: static;
        height: auto;
        width: auto;
        justify-content: space-between;
    }
    .header__nav-list{
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 20px;
        margin: auto;
        margin-right: 40px;
    }
    .header__open-nav-button{
        display: none !important;
    }
    .header__nav-list{
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: (1,1fr);
        grid-auto-flow: dense;
        width: 600px;
        gap: 30px;
        align-items: center;
        justify-items: center;
    }
    .header__nav-item  a{
        font-size: 1.2rem;
    }
    
}
/* ************************************/
/*                                    */
/*              Aside                 */
/*                                    */
/* ************************************/
.sidebar{
    z-index: 2;
    grid-area: aside;
    background-color: var(--color-barras);
    position: fixed;
    height: 100dvh;
    width: fit-content;
    font-size: clamp(.2rem,1.4vw,3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


input[type="checkbox"]{
    display: none;
}

.sidebar__form{
    position: absolute;
    z-index: 20;
    right: -3.5rem;
    top: 260px;
}
.sidebar__form .open-button{
    display: none;
}
.sidebar label{
    position: relative;
    color:  #F4CE14;
    background-color: #45474B;
    font-size: 2.4rem;
    border-radius: 0px 50px 50px 0px;
    padding: .7rem;
    padding-left: .9rem;
    user-select: none;
}


.sidebar:has(input[type="checkbox"]:checked){
    width: clamp(200px,26dvw,800px);
}
.sidebar:has(input[type="checkbox"]:checked) .sidebar__form label{
    display: none;
}
.sidebar:has(input[type="checkbox"]:checked) .sidebar__form .open-button{
    display: block;
}

.sidebar:has(input[type="checkbox"]:checked) :is(.sidebar__item a,.profile-option){
    display: none;

}
/* ************************************/
/*                                    */
/*              Main                  */
/*                                    */
/* ************************************/

main{
    font-family: var(--fuente-texto);
    grid-area: main;
    height: 100dvh;
    background-color: var(--color-fondo);
    position: relative;
}

.content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
}
.content__carrusel{
    margin: 20px auto;
    width: 40dvw;
    height: 40dvw;
    border:10px solid var(--color-barras);
    border-bottom: 34px solid var(--color-barras);
    border-radius: 10%;
    position: relative;
}

.almuerzo{
    background-image: url(../images/almuerzo/pexels-catscoming-1907244.jpg);  
    background-size:cover;
    background-position: center;
    clip-path: inset(0 0 0 0);
    animation: almuerzo 36s ease-out 1s infinite;
}


.desayuno{
    background-image: url(../images/desayuno/pexels-ash-craig-122861-376464.jpg);
    background-size:cover ;
    background-position: center;
    clip-path: inset(0 0 0 0);
    animation: desayuno 36s ease-out 2s infinite;
}
.cena{
    background-image: url(../images/cena/pexels-andra-325634-918581.jpg);
    background-size:cover ;
    background-position: center;
    clip-path: inset(0 0 0 0);
    animation: cena 36s ease-out 3s infinite;
}

@keyframes almuerzo {
    0%{
        background-image: url(../images/almuerzo/pexels-catscoming-1907244.jpg);
    }
    20%{
        background-image: url(../images/almuerzo/pexels-catscoming-750947.jpg);
    }
    40%{
        background-image: url(../images/almuerzo/pexels-kei-photo-1420806-2741448.jpg);
    }
    60%{
        background-image: url(../images/almuerzo/pexels-makafood-82669418-8980376.jpg);
    }
    80%{
        background-image: url(../images/almuerzo/pexels-mdsnmdsnmdsn-2821743.jpg);
    }
    100%{
        background-image: url(../images/almuerzo/pexels-shliftik-7333163.jpg);
    }
}
@keyframes desayuno {
    0%{
        background-image: url(../images/desayuno/pexels-ash-craig-122861-376464.jpg);
    }
    20%{
        background-image: url(../images/desayuno/pexels-iina-luoto-460132-1211887.jpg);
    }
    40%{
        background-image: url(../images/desayuno/pexels-janetrangdoan-1099680.jpg);
    }
    60%{
        background-image: url(../images/desayuno/pexels-lum3n-44775-1410236.jpg);
    }
    80%{
        background-image: url(../images/desayuno/pexels-pixabay-414262.jpg);
    }
    100%{
        background-image: url(../images/desayuno/pexels-vojtech-okenka-127162-1055272.jpg);
    }
}
@keyframes cena {
    0%{
        background-image: url(../images/cena/pexels-andra-325634-918581.jpg);
    }
    20%{
        background-image: url(../images/cena/pexels-horizon-content-2100060-3738730.jpg);
    }
    40%{
        background-image: url(../images/cena/pexels-jonathanborba-2983104.jpg);
    }
    60%{
        background-image: url(../images/cena/pexels-myfoodie-2702674.jpg);
    }
    80%{
        background-image: url(../images/cena/pexels-valeriya-1893558.jpg);
    }
    100%{
        background-image: url(../images/cena/pexels-yungsaac-2119758.jpg);
    }
}
/* ************************************/
/*                                    */
/*        Ventana Modal de main       */
/*                                    */
/* ************************************/

.ventana__modal{
    z-index: 20;
    position: absolute;
    transform: translate(40px,20px);
    width: 80dvw;
    height: 94dvh;
    background-color: var(--color-barras);
    outline:10px solid var(--color-barras);
    border: 10px solid var(--color-principal);
    filter: drop-shadow(0px 0px 3px black);
    overflow:scroll;
    display:none;
}

.comida-checkbox{
    display: none;
}
.boton__open{
    z-index:1;
    display: block;
    position: absolute;
    text-align: center;
    font-weight: bold;
    width: 130px;
    border-radius: 0px 0px 19px 19px;
    background-color: var(--color-principal);
}
.almuerzo-boton_open{
    top: 136px;
    left:123px
}
.desayuno-boton_open{
    top: 326px;
    left: 123px;
}
.cena-boton_open{
    top: 516px;
    left: 123px;
}
.boton__close{
    z-index: 30;
    text-align: center;
    width: 20px;
    background-color: var(--color-barras);
    color: var(--color-principal);
    outline: 9px groove var(--color-principal);
    display: block;
    position: absolute;
    top:29px;
    left:310px
}

.almuerzo-checkbox:checked ~ .ventana-almuerzo{
    display: block;
}
.almuerzo-checkbox:not(:checked)~.almuerzo-boton_close{
    display: none;
}

.desayuno-checkbox:checked ~ .ventana-desayuno{
    display: block;
}
.desayuno-checkbox:not(:checked)~.desayuno-boton_close{
    display: none;
}

.cena-checkbox:checked ~ .ventana-cena{
    display: block;
}
.cena-checkbox:not(:checked)~.cena-boton_close{
    display: none;
}


.ventana__modal-content{
    text-align: center;
    font-family: var(--fuente-texto);
    display: flex;
    flex-flow: column nowrap;
    width:100%;
    height:100%;
    overflow:scroll;
}
@keyframes parpadeo-1 {
    0% {
        text-shadow: 
            0 0 3px #FF0000,    
            0 0 7px #FF0000,   
            0 0 1px #FF0000,   
            0 0 15px #FF0000,   
            0 0 19px #FF0000,   
            0 0 24px #FF0000;
        opacity: 1;
    }
    50% {
        text-shadow: 
            0 0 1px #FF0000,    
            0 0 3px #FF0000,   
            0 0 1px #FF0000,   
            0 0 7px #FF0000,   
            0 0 10px #FF0000,   
            0 0 12px #FF0000;
        opacity: 0.5;
    }
    100% {
        text-shadow: 
            0 0 3px #FF0000,    
            0 0 7px #FF0000,   
            0 0 1px #FF0000,   
            0 0 15px #FF0000,   
            0 0 19px #FF0000,   
            0 0 24px #FF0000;
        opacity: 1;
    }
}
@keyframes parpadeo-2{
    0% {
        text-shadow: 
            0 0 3px #FF0000,    
            0 0 7px #FF0000,   
            0 0 1px #FF0000,   
            0 0 15px #FF0000,   
            0 0 19px #FF0000,   
            0 0 24px #FF0000;
        opacity: 1;
    }
    20% {
        text-shadow: 
            0 0 2px #FF0000,    
            0 0 5px #FF0000,   
            0 0 1px #FF0000,   
            0 0 10px #FF0000,   
            0 0 12px #FF0000,   
            0 0 16px #FF0000;
        opacity: 0.7;
    }
    40% {
        text-shadow: 
            0 0 1px #FF0000,    
            0 0 3px #FF0000,   
            0 0 1px #FF0000,   
            0 0 7px #FF0000,   
            0 0 10px #FF0000,   
            0 0 12px #FF0000;
        opacity: 0.3;
    }
    60% {
        text-shadow: 
            0 0 2px #FF0000,    
            0 0 5px #FF0000,   
            0 0 1px #FF0000,   
            0 0 10px #FF0000,   
            0 0 14px #FF0000,   
            0 0 18px #FF0000;
        opacity: 0.7;
    }
    80% {
        text-shadow: 
            0 0 1px #FF0000,    
            0 0 3px #FF0000,   
            0 0 1px #FF0000,   
            0 0 7px #FF0000,   
            0 0 10px #FF0000,   
            0 0 12px #FF0000;
        opacity: 0.5;
    }
    100% {
        text-shadow: 
            0 0 3px #FF0000,    
            0 0 7px #FF0000,   
            0 0 1px #FF0000,   
            0 0 15px #FF0000,   
            0 0 19px #FF0000,   
            0 0 24px #FF0000;
        opacity: 1;
    }
}

.ventana__modal-content > h2,p{
    color: #FF0000; /* Rojo brillante */
    text-shadow: 
        0 0 3px #FF0000,    /* Resplandor de brillo interno */
        0 0 7px #FF0000,   /* Resplandor más amplio */
        0 0 1px #FF0000,   /* Resplandor más amplio */
        0 0 15px #FF0000,   /* Resplandor aún más amplio */
        0 0 19px #FF0000,   /* Resplandor extenso */
        0 0 24px #FF0000;   /* Resplandor máximo */
    font-weight: 900;
    letter-spacing: 6px;
}
.ventana__modal-content > h2{
    font-size: 50px;
    margin: 0;
    animation: parpadeo-1 3.5s ease-out   infinite
}
.ventana__modal-content > p{
    font-size: 30px;
    margin: 0;
    margin-bottom: 25px;
    animation: parpadeo-1 2.5s ease-out  infinite
}
.ventana__modal-content>p>span{
}

.content__plato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin:10px 20px;
}
.content__plato img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 9px solid #fff;
    outline: 1px solid #0000;
}

.content__plato input{
    display: none;
}
.content__plato label{
    text-align: center;
    border:4px solid var(--color-principal);
    outline: 1px solid #000;
    outline-offset: -4px;
    border-radius: 8px;
    color: #000;
    padding: 5px 10px;
    width: 90px;
    font-weight: bold;
}

.close{
    background-color: rgb(253, 61, 61) ;
    display: none;
}
.add{
    background-color: rgb(16, 236, 64);
    display: none;
}

.content__plato > input[type="checkbox"]:not(:checked) ~ .add{
    display: block;
}
.content__plato > input[type="checkbox"]:not(:checked) ~ .add{
    display: block;
}
.content__plato > input[type="checkbox"]:checked ~ .close{
    display: block;
}


