*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: serif;
    width: 100%;
    overflow: hidden;
}
.box{
    font-size: 30px;
    border: 2px solid #f44;
    width: fit-content;
    padding: 320px;
    background-color: color-mix(in srgb, #48e 100%, #fff 100%);
}